<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href = "styles.css">
</head>
<body>

    <div class="main-content">
        
         {{>header}}
        <p>This site was created by Mudassir Sumar. It uses data from MAPBOX.com and OPENWEATHERMAP.org</p>    
        <img class = "potrait" src = "roman-synkevych-vXInUOv1n84-unsplash.jpg">

    </div>

   

     {{>footer}}
</body>
</html>